# Auto detect text files and perform LF normalization
* text=auto
# Track all files within Content/ImportedAssets/ModularSciFi folder with Git LFS
Content/ImportedAssets/ModularSciFi/* filter=lfs diff=lfs merge=lfs -text
Content/ImportedAssets/SciFiWorld/* filter=lfs diff=lfs merge=lfs -text
Content/ImportedAssets/ModSci_Engineer/* filter=lfs diff=lfs merge=lfs -text
Content/ImportedAssets/ModSci_EngiProps/* filter=lfs diff=lfs merge=lfs -text
Content/ImportedAssets/ModSciInteriors/* filter=lfs diff=lfs merge=lfs -text
